.about h2{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    /* background-color: #a5a6f6; */
    background-image: radial-gradient(circle farthest-corner at center, rgba(93, 180, 252, 1) 35%, rgba(165, 166, 246, 1) 65%, rgba(215, 151, 221, 1) 100%);
    padding: 5%;
    font-family: optima, segoe, segoe ui, candara, calibri, arial, sans-serif;
    font-weight: 100;
}