.first-then-board-container{
    width: 1000px;
    height: 500px;
    margin-left: 90px;
    margin-right: 100px;
    padding: 5px;
    border: solid black 2px;
}

.first-then-board{
    display: flex;
    justify-content: space-between;
    font-family: optima, segoe, segoe ui, candara, calibri, arial, sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.first-then-board-visual-cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 7em;
}

/* setup of card container:
grid template column means repeat 3 columns/times, at 1 fraction of the space/page)
grid gap creates a gap between cards */

