.new-visual-form-container{
    margin-top: 50vh;
    margin-left: 25%;
    padding: 3%;
    background-color: #a5a6f6;
    width: 40%;
    text-align: center;
    font-family: optima, segoe, segoe ui, candara, calibri, arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.new-visual-form-container h4{
    font-family: optima, segoe, segoe ui, candara, calibri, arial, sans-serif;
    font-size: 20px;
    font-weight: 100;
    margin: 0;
}
